
@font-face { 
    font-family: 'DDJB';  /* 定义字体名称 */
    src: url('/font/DingTalk_JinBuTi.woff') format('woff');  /* 定义字体文件路径和格式 */
} 

@font-face {
    font-family: 'HMBO';  /* 定义字体名称 */
    src: url('/font/HARMONYOS_SANS_SC_BOLD.woff') format('woff');  /* 定义字体文件路径和格式 */
}

@font-face{
    font-family: 'SHBO';  /* 定义字体名称 */
    src: url('/font/SourceHanSansHWSC-Bold.otf') format('otf');  /* 定义字体文件路径和格式 */
}

@font-face{
    font-family: 'SHRE';  /* 定义字体名称 */
    src: url('/font/SourceHanSansHWSC-Regular.otf') format('otf'); /* 定义字体文件路径和格式 */
}

@font-face{
    font-family: 'HMLI';  /* 定义字体名称 */
    src: url('/font/HARMONYOS_SANS_SC_LIGHT.woff') format('woff');  /* 定义字体文件路径和格式 */
}

@font-face{
    font-family: 'HMME';  /* 定义字体名称 */
    src: url('/font/HARMONYOS_SANS_SC_MEDIUM.woff') format('woff');  /* 定义字体文件路径和格式 */
}

@font-face{
    font-family: 'ALSH';  /* 定义字体名称 */
    src: url('/font/AlimamaShuHeiTi-Bold.woff') format('woff');  /* 定义字体文件路径和格式 */
}

@font-face{
    font-family: 'ALSI';  /* 定义字体名称 */
    src: url('/font/AlimamaShuHeiTi-Regular.woff') format('woff');  /* 定义字体文件路径和格式 */
}

@font-face{
    font-family: 'ALSM';  /* 定义字体名称 */
    src: url('/font/AlimamaShuHeiTi-Medium.woff') format('woff');  /* 定义字体文件路径和格式 */
}

@font-face{
    font-family: 'FZXS';  /* 定义字体名称 */
    src: url('/font/HYPixel-11px-U.woff') format('woff');  /* 定义字体文件路径和格式 */
}

@font-face{
    font-family: 'BWKS';  /* 定义字体名称 */
    src: url('/font/BWKS.woff2') format('woff2');  /* 定义字体文件路径和格式 */
}

/* 上：字体定义 下：样式设置 ------------------------------------- */

a.setting-dir {
    font-size: 25px;
}

img.setting-img {
    position:relative;
    left:20px;
}

/* a.winbox-btn {
    background-color: #10A7E8;
    bottom:30px;
    left:44%;
}
a.winbox-btn {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right:  4%;
  padding-left:  4%;
} */
div.setting {
    position:fixed;
    top:35%;
    right:25%;
    z-index:25;
    border-width:5px;
    border-color:#7F7E84;
    border-style:solid;
    background-color:#F8F3ED; /*背景色*/
    width:50%;

    border-radius: 25px; /*圆角*/
}
a.setting-dir {
    font-size:16px;
    height:60px;
    width:90px;
    color:#FFFFFF;
    background-color:#2F7AA1;
    border-radius:10px;
    text-align:center;
    line-height:30px;
    display:block;
    margin:0 auto;
    margin-top:20px;
    line-height: 58px;
    border-radius: 10px; /*圆角*/
}