body 
.progress-container {
  margin-bottom: 10px;
}
.progress-label {
  margin-bottom: 5px;
}
.progress-bar {
  width: 100%;
  background-color: hsla(0, 0%, 31%, 0.24); /* 进度条背景色 */
  border-radius: 5px;/*圆角*/
  overflow: hidden;
}
.progress-bar-inner {
  height: 15px;/*进度条高度*/
  background-color: #4caf50;/*进度条颜色*/
  text-align: center;
  /* color: white;背景颜色 */
  line-height: 20px;
  transition: width 1.5s;/*一次到目标位置的速度*/
}

/* @font-face {
  font-family: 'ds-digi';
  src: url('/font/ds-digi.woff2') format('woff2'),
  url('/font/ds-digi.woff2') format('woff2');
  }
.p-digi{

} */