

/* Setting WinDiv Home --------------------------------------------*/
span.config-title {
    top: 7px;
    left: 85px;
    font-size:32px;
    position:absolute;
}

html[data-theme="light"] span.config-title {
    color: $color-theme-light-main;
}

html[data-theme="dark"] span.config-title {
    color: #7AABEF;
}

span.config-2title {
    top:49px;
    left:85px;
    font-size:16px;
    position:absolute;
}

html[data-theme="light"] span.config-2title {
    color: #262D32;
}

html[data-theme="dark"] span.config-2title {
    color: #F8F2E6;
}

div.configWin {
    position:fixed;
    top:35%;
    right:15%;
    z-index:107;
    border-width:2px;
    border-style:solid;
    width:60%;
    border-radius: 20px; /*圆角*/
    height: 45%;
}

html[data-theme="light"] div.configWin {
    border-color:#7F7E84;
    background-color:#F8F3ED; /*背景色*/
}

html[data-theme="dark"] div.configWin {
    border-color:#434446;
    background-color:#36353B; /*背景色*/
}


div.configDiv {
    position:absolute;
    top: 20%;
    left: 3%;
    max-width: 95%;
}

a.config-bottom {


    border-radius:10px;
    line-height:30px;
    margin:0 auto;
    margin-top:20px;
    line-height: 58px;
    font-size:16px;
}

html[data-theme="light"] a.config-bottom {
    color:#FFFFFF;
    background-color:#10A7E8;
}

html[data-theme="dark"] a.config-bottom {
    background-color:#3946AF;
}

a.configWinTopBtn {
    font-size:25px;
    background-color:#e0e0e0;
    left: 1.75%;
    top: 5%;
    position:absolute;
}

html[data-theme="dark"] a.configWinTopBtn {
    background-color:#56625E;
}

a.configWinCloseBtn {
    font-size:25px;
    background-color:#e0e0e0;
    right: 20px;
    top: 5%;
    position:absolute;
}

html[data-theme="dark"] a.configWinCloseBtn {
    background-color:#56625E;
}

@media screen and (max-width:768px) {
    html .configDiv {
        width:100%!important;  /* 在屏幕宽度小于768px时宽度为100% */
    }
}

a.config-bottom {
    font-size:25px;
    text-align: left;
    border-radius: 12px;
    color: #3A3539;
    width: 120px;
    height: 40px;
    background-color: #10A7E8;
    border-style:solid;
    border-width:2px;
    margin-top: 20px;
}

html[data-theme="dark"] a.config-bottom {
    background-color:#3946AF;
}

a.config-bottom {
    font-size:22px;
    text-align:center;

    border-radius: 12px;
    color: #3A3539;
    background-color: #10A7E8;
    border-style:solid;
    border-width:2px;

    min-width: 180px;
    min-height: 60px;

    width: 180px;
    height: 60px;

    display: inline-block;
}

a.config-bottom {
    background-color:#3946AF;
}

a.config-font-butt /*om*/{
    font-size:20px;
    height:40px;
    width:160px;
    color:#FFFFFF;
    background-color:#2F7AA1;
    border-radius:10px;
    /* text-align:center; */
    line-height:30px;
    /* display:block; */
    margin:0 auto;
    margin-top:20px;
    line-height: 58px;
}

html[data-theme="light"] a.config-font-butt /*om*/{
    color:#FFFFFF;
    background-color:#2F7AA1;
}

html[data-theme="dark"] a.config-font-butt {
    background-color:#3946AF;
}

span.h2 {
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 10px;
}

a.config-bottom {
    font-size:20px;
    height:50px;
    width:160px;
    color:#FFFFFF;
    border-radius:10px;
    /* text-align:center; */
    line-height:30px;
    /* display:block; */
    margin:0 auto;
    margin-top:20px;
    line-height: 58px;
}

html[data-theme="light"] a.config-bottom {
    background-color:#2F7AA1;
}

html[data-theme="dark"] a.config-bottom {
    background-color:#3946AF;
}

.n.active::after {
    content: '✓';
}
/*Setting WinDiv End --------------------------------------------*/


/* 节日大窗口 Home -----------------------------------------------*/

a.winbox-btn {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right:  4%;
    padding-left:  4%;
    bottom:30px;
    left:44%;
}

html[data-theme="light"] a.winbox-btn {
    background-color: #10A7E8;

}

html[data-theme="dark"] a.winbox-btn {
    background-color: #3946AF;
}

div#messageWin {
    position:fixed;
    top:35%;
    right:25%;
    z-index:25;
    border-width:2px;
    border-style:solid;
    width:50%;
    border-radius: 25px; /*圆角*/
}

html[data-theme="light"] div#messageWin {
    background-color:#F8F3ED; /*背景色*/
    border-color:#7F7E84;
}

html[data-theme="dark"] div#messageWin {
    border-color:#434446;
    background-color:#36353B; /*背景色*/
}

p.messageWin-title#messageWin-title {
    font-size: 30px;
    text-align: center;
}

html[data-theme="light"] p.messageWin-title#messageWin-title {
    color: #2F7AA1;
}

html[data-theme="dark"] p.messageWin-title#messageWin-title {
    color: #2F7AA1;
}


p.messageWin-text#messageWin-text {
    color: #003152;
    font-size: 16px;
    text-align: center;
}

html[data-theme="dark"] p.messageWin-text#messageWin-text {
    color: #F8F2E6;
}

/* html[data-theme="dark"] */

a.messageWin-closeWin {
    font-size:16px;
    height:60px;
    width:90px;
    color:#FFFFFF;
    border-radius:10px;
    text-align:center;
    line-height:30px;
    display:block;
    margin:0 auto;
    margin-top:20px;
    line-height: 58px;
}

html[data-theme="light"] a.messageWin-closeWin {
    background-color:#2F7AA1;    
}

html[data-theme="dark"] a.messageWin-closeWin {
    background-color:#3946AF;
}

span.config_page_null {
    width : 10px
}

/* 节日大窗口 End -------------------------------------------------*/


/* 原主题BUG修复 Home ---------------------------------------------*/

footer img {
    position:relative;
    top:4px;
}

/* 原主题BUG修复 End ----------------------------------------------*/

/* 底部时间计算 Home -*/

#footer {
    color: white; /* 将文字颜色设为白色 */
    text-align: center; /* 文字居中对齐 */
    margin-top: 0px; /* 顶部边距设为 0 */
    font-size: 14px; /* 字体大小设为 14px */
}
.workSituationImg {
    width: 0px;
    height: 0px;
}
/* 底部时间计算 End -*/

/* 时光飞逝 Home -*/
.time-flies .progress-container {
  margin-bottom: 10px;
}
.time-flies .progress-label {
    font-size: 14px;
//   margin-bottom: 5px;
}
.time-flies .year-progress-bar,.time-flies .month-progress-bar,.time-flies .day-progress-bar,.time-flies .hour-progress-bar,.time-flies .minute-progress-bar {
//   width: 100%;
//   color: hsla(0, 0%, 31%, 0.24); /* 进度条背景色 */
//   border-radius: 5px;/*圆角*/
//   overflow: hidden;
  text-align: center;
  line-height: 20px;
  transition: width 0.5s;/*一次到目标位置的速度*/
  height: 12px;/*进度条高度*/
}
.time-flies .year-progress-bar {
  background-color: #4caf50;/*进度条颜色*/
}
.time-flies .month-progress-bar {
  background-color: #4caf50;
}
.time-flies .day-progress-bar {
  background-color: #4caf50;
}
.time-flies .hour-progress-bar {
  background-color: #4caf50;
}
.time-flies .minute-progress-bar {
  background-color: #4caf50;
}

.time-flies .year-progress-bar, .time-flies .month-progress-bar, .time-flies .day-progress-bar, .time-flies .hour-progress-bar, .time-flies .minute-progress-bar 
{
//   content: "";
//   position: absolute;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 5s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
//   overflow: hidden;
}

html[data-theme="dark"] .time-flies .year-progress-bar {
  background-color: #2e8330;/*进度条颜色*/
}
html[data-theme="dark"] .time-flies .month-progress-bar {
  background-color: #2e8330;
}
html[data-theme="dark"] .time-flies .day-progress-bar {
  background-color: #2e8330;
}
html[data-theme="dark"] .time-flies .hour-progress-bar {
  background-color: #2e8330;
}
html[data-theme="dark"] .time-flies .minute-progress-bar {
  background-color: #2e8330; //#4caf50;
}

.time-flies .progress-bar {
  width: 100%;
  background-color: $color-theme-light-2background;/*进度条背景色*/ //#ddd
  border-radius: 5px;/*圆角*/
  overflow: hidden;
}
html[data-theme="dark"] .time-flies .progress-bar {
    background-color: $color-theme-dark-2background
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

/* 时光飞逝 End -*/

a.comment-privacy-link {
    position: relative;
    position: absolute;
    right: 0px;
    right: 0px;
    font-size: 12px;
    color: $color-theme-light-text;
}

/* 给侧边栏的时光飞逝图标加上一个不停旋转的动画 */
div.item-headline>i[class="fa-solid fa-clock"] {
    animation: fa-clock-rotate 3s linear infinite;
}

@keyframes fa-clock-rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes fa-clock-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@media screen and (max-width:768px) {
    [tag="pcEnable_false"] {
        display: block !important
    }

    [tag="pcEnable_true"] {
        display: none !important
    }

    div.configWin {
        width: 100% !important;  /* 在屏幕宽度小于768px时宽度为100% */
        height: 100% !important;
        top: 0px !important;
        right: 0px !important;
    }


}
[tag="pcEnable_false"] {
    display: none !important
}

[tag="pcEnable_true"] {
    display: block !important
}

[data-theme="light"]  .flink-list-item {
    background-color: $color-theme-light-2background; !important
}

[data-theme="dark"]  .flink-list-item {}

a[class="close-menu"] {
    z-index :106;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#moblie-menu.moblie-menu {
    z-index :106;
    left: 100%;
    top: 0px;
    width: 80%;
    height: 100%;
    transition: moveLeft 0.5s ease; /* 添加过渡效果 */
    position: fixed;
}
[data-theme="light"]  #moblie-menu.moblie-menu {
    background-color: $color-theme-light-background;
}

[data-theme="dark"]  #moblie-menu.moblie-menu { 
    background-color: $color-theme-dark-background; 
}

@keyframes moveLeft {
    from {
        left: 100%;
    } to {
        left: 10%;
    }
}